<app-box-with-header>
    <box-header>
        <i class="material-icons left">timeline</i>Parametros Genéticos
    </box-header>
    <box-content>
        <div class="row">
            <div class="col s12 m6">
                <app-slider label="População"
                            value-sufix=" individuos"
                            min="100"
                            max="1000"
                            step="100"
                            ng-model="GeneticParameters.populationSize"
                            ng-change="GeneticParameters.updateModel()">
                </app-slider>
            </div>
            <div class="col s12 m6">
                <app-slider label="Intervalo de geração"
                            value-sufix="%"
                            min="0"
                            max="100"
                            step="1"
                            ng-model="GeneticParameters.generationInterval"
                            ng-change="GeneticParameters.updateModel()">
                </app-slider>
            </div>
            <div class="col s12 m6">
                <app-slider label="Taxa de mutação"
                            value-sufix="%"
                            min="0"
                            max="100"
                            step="1"
                            ng-model="GeneticParameters.mutationRate"
                            ng-change="GeneticParameters.updateModel()">
                </app-slider>
            </div>
            <div class="col s12 m6">
                <app-slider label="Genes que irão mutar"
                            value-sufix="%"
                            min="0"
                            max="100"
                            step="1"
                            ng-model="GeneticParameters.geneMutationRate"
                            ng-change="GeneticParameters.updateModel()">
                </app-slider>
            </div>
            <div class="col s12 m6 l12">
                <app-radio-group label="Seleção dos pais"
                                 ng-model="GeneticParameters.selectionMethod"
                                 ng-change="GeneticParameters.updateModel()"
                                 options="[{label: 'Torneio', value: 'tournament'}]">
                </app-radio-group>
            </div>
            <div class="col s12 m6 l12">
                <app-radio-group label="Método de crossover"
                                 ng-model="GeneticParameters.crossoverMethod"
                                 ng-change="GeneticParameters.updateModel()"
                                 collumns="2"
                                 options="[{label: 'Um ponto', value: 'onepoint'}, {label: 'Dois pontos', value: 'twopoint'}]">
                </app-radio-group>
            </div>
            <div class="col s12">
                <app-slider label="Número de iterações"
                            min="0"
                            max="1000"
                            step="50"
                            ng-model="GeneticParameters.numberOfIterations"
                            ng-change="GeneticParameters.updateModel()">
                </app-slider>
            </div>
        </div>
    </box-content>
</app-box-with-header>