<div class="center-align">
    <i class="material-icons">timeline</i>
    <p>Parametros Genéticos</p>
</div>
<div class="divider margin-medium"></div>
<div class="row">
    <div class="col s12 m6 margin-bottom-medium">
        <app-slider label="População"
                    value-suffix=" individuos"
                    min="100"
                    max="1000"
                    step="100"
                    ng-model="GeneticParameters.populationSize"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
    <div class="col s12 m6 margin-bottom-medium">
        <app-slider label="Intervalo de geração"
                    value-suffix="%"
                    min="0"
                    max="100"
                    step="1"
                    ng-model="GeneticParameters.generationInterval"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
    <div class="col s12 m6 margin-bottom-medium">
        <app-slider label="Taxa de mutação"
                    value-suffix="%"
                    min="0"
                    max="100"
                    step="1"
                    ng-model="GeneticParameters.mutationRate"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
    <div class="col s12 m6 margin-bottom-medium">
        <app-slider label="Genes que irão mutar"
                    value-suffix="%"
                    min="0"
                    max="100"
                    step="1"
                    ng-model="GeneticParameters.geneMutationRate"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
    <div class="col s12 m6">
        <app-slider label="Número de iterações"
                    min="0"
                    max="1000"
                    step="50"
                    ng-model="GeneticParameters.maxIterations"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
    <div class="col s12 m6">
        <app-slider label="Estabilização do ótimo"
                    min="0"
                    max="100"
                    step="1"
                    value-suffix="%"
                    ng-model="GeneticParameters.optimalStabilization"
                    ng-change="GeneticParameters.updateModel()">
        </app-slider>
    </div>
</div>